<!-- footer -->
<div class="wrapper footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
        <h2>{{site.title}}</h2>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center">
        <div class="copyright">
          &copy; Copyright 2018 Kaffeinated Kodemonkey |
          <a href="{{ site.urll }}/PrivacyPolicy" title="Read our Privacy Statment">Privacy Policy</a>
        </div>
      </div>
      <div class= "col-lg-2 col-md-2 col-sm-2 col-xs-12" id="back-top">
        <p class= "pull-right"><a href="#home"><span></span>Top</a></p>
      </div>
    </div><!-- row -->
  </div>
</div><!--end of footer -->
