<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{site.url}}/assets/img/Favicon.png" type="image/x-icon">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>


  <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/bootstrap.css">
  <!--<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/bootstrap.min.css">-->
  <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/custom.css">
</head>
