
	<body onload="countdown(year,month,day,hour,minute)">
		<!-- Carousel -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
	    <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1" ></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	    </ol>
	    <div class="carousel-inner">
				<div class="item active">
	        	<img src="{{ site.url }}/assets/img/Girls-Code-too.jpg" alt="First slide">

				<div class= "carousel-caption caption">
					<h1>Stickers Are fun!</h1>
				</div>
	        </div><!-- end of first item -->
	        <div class="item">
	          	<img src="{{ site.url }}/assets/img/kodemonkey-Jam.jpeg" alt="Kodemonkey Jam">

				<div class= "carousel-caption caption">
					<h1>Kodemonkey Jam - Showing off our Pi's</h1>
				</div>
	        </div><!-- end of second item -->
	        <div class="item">
		        <img src="{{ site.url }}/assets/img/coolest-kids-project.jpg" alt="Coolest Kids Project">

				<div class= "carousel-caption caption">
					<h1>Sharing is cool @ Coolest Kids Project</h1>
				</div>
	        </div><!-- end of third item -->
	    </div>
		</div><!-- end of carousel -->

		<div class= "body-content">
			<!-- subscribe -->
			<div class= "container subscribe">
				<div class="row text-center">
					<div class= "col-lg-6 col-lg-offset-3 subscribe-text">
						<h3 class= "text-center">Join Us</h3>
						<hr class= "full">
	         	<p>Welcome to our world of technology</p>
	         	<br/>
					</div>
				</div>
			</div>
			<!-- end of subscribe -->

			<div class= "container after-slide">
				<div class= "row">
					<div class="col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12 text-center">
						<p class= "after-slide-text">Where Kids are learning to code and having fun!</p>
					</div>
				</div>

				<div class="subscribe-form" >
					<div class= "row">
						<!-- Signup Form -->
						<!-- Begin MailChimp Signup Form -->
						<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

						<div id="mc_embed_signup">
							<form action="https://kaffeinatedkodemonkey.us11.list-manage.com/subscribe/post?u=25ed2db8c5f44be422ac9503a&amp;id=9825c927e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" target="_blank" novalidate>
						    <div id="mc_embed_signup_scroll">
									<h2>Sign up and have fun!</h2>
									<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
									<fieldset>
										<legend>Parent/Guardian Information</legend>
										<!-- PG Name -->
										<div class="form-group">
											<label for="mce-GUARDIAN" class="col-sm-3">Parent/Guardian:  <span class="asterisk">*</span></label>
											<div class="col-sm-5">
												<input type="text" name="GUARDIAN" class="form-control" id="mce-GUARDIAN" required>
											</div>
										</div>
										<!-- PG Email -->
										<div class="form-group">
											<label for="mce-EMAIL" class="col-sm-3">Email Address:  <span class="asterisk">*</span></label>
											<div class="col-sm-5">
												<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" required>
											</div>
										</div>
										<!-- PG Phone -->
										<div class="form-group">
											<label for="mce-PHONE" class="col-sm-3">Phone Number: <span class="asterisk">*</span></label>
											<div class="col-sm-5">
										    <div class="phonefield phonefield-us">
										        (<span class="phonearea"><input class="phonepart required" pattern="[0-9]*" id="mce-PHONE-area" name="PHONE[area]" maxlength="3" size="3" value="" type="text"></span>)
										        <span class="phonedetail1"><input class="phonepart required" pattern="[0-9]*" id="mce-PHONE-detail1" name="PHONE[detail1]" maxlength="3" size="3" value="" type="text"></span> -
										        <span class="phonedetail2"><input class="phonepart required" pattern="[0-9]*" id="mce-PHONE-detail2" name="PHONE[detail2]" maxlength="4" size="4" value="" type="text"></span>
														<span class="small-meta nowrap">(###) ###-####</span>
										    </div>
											</div>
										</div>
										<!-- PG City -->
										<div class="form-group">
											<label for="mce-CITY" class="col-sm-3">City  <span class="asterisk">*</span></label>
											<div class="col-sm-5">
												<input type="text" value="" name="CITY" class="form-control" id="mce-CITY" required>
											</div>
										</div>
									</fieldset>

									<fieldset>
										<legend>Kodemonkey One</legend>
										<!-- Name -->
										<div class="form-group">
											<label for="mce-KM1" class="col-sm-3">Kodemonkey Name:</label>
											<div class="col-sm-5">
												<input type="text" value="" name="KM1" class="form-control" id="mce-KM1">
											</div>
										</div>
										<!-- KM1 Age -->
										<div class="form-group">
											<label for="mce-KM1AGE" class="col-sm-3">Age:</label>
											<div class="col-sm-5">
												<input type="number" value="" name="KM1AGE" class="form-control" id="mce-KM1AGE">
											</div>
										</div>
										<!-- Club -->
										<div class="form-group">
											<label for="KM1CLUB" class="col-sm-3">Select Club:</label>
									    <div class="col-sm-offset-0 col-sm-5">
									      <div class="radio">
													<label for="mce-KM1CLUB-0"><input type="radio" value="Kodemonkey-Dojo" name="KM1CLUB" id="mce-KM1CLUB-0">Kodemonkey-Dojo</label>
												</div>
												<div class="radio">
													<label for="mce-KM1CLUB-1"><input type="radio" value="Kodemonkey-Google" name="KM1CLUB" id="mce-KM1CLUB-1">Kodemonkey-Google</label>
												</div>
											</div>
										</div>
									</fieldset>

									<fieldset>
										<legend>Kodemonkey Two</legend>
										<!-- KM 2 Name -->
										<div class="form-group">
											<label for="mce-KM2" class="col-sm-3">Kodemonkey Name: </label>
											<div class="col-sm-5">
												<input type="text" value="" name="KM2" class="form-control" id="mce-KM2">
											</div>
										</div>
										<!-- KM2 Age -->
										<div class="form-group">
											<label for="mce-KM2AGE" class="col-sm-3">Age:</label>
											<div class="col-sm-5">
												<input type="number" value="" name="KM2AGE" class="form-control" id="mce-KM2AGE">
											</div>
										</div>
										<!-- KM 2 Club -->
										<div class="form-group">
											<label for="KM2CLUB" class="col-sm-3">Select Club:</label>
									    <div class="col-sm-offset-0 col-sm-5">
									      <div class="radio">
											  	<label for="mce-KM2CLUB-0"><input type="radio" value="Kodemonkey-Dojo" name="KM2CLUB" id="mce-KM2CLUB-0">Kodemonkey-Dojo</label>
												</div>
												<div class="radio">
													<label for="mce-KM2CLUB-1"><input type="radio" value="Kodemonkey-Google" name="KM2CLUB" id="mce-KM2CLUB-1">Kodemonkey-Google</label>
												</div>
											</div>
										</div>
									</fieldset>

									<fieldset>
										<legend>Kodemonkey Three</legend>
										<!-- KM 3 Name -->
										<div class="form-group">
											<label for="mce-KM3" class="col-sm-3">Kodemonkey Name: </label>
											<div class="col-sm-5">
												<input type="text" value="" name="KM3" class="form-control" id="mce-KM3">
											</div>
										</div>
										<!-- KM3 Age -->
										<div class="form-group">
											<label for="mce-KM3AGE" class="col-sm-3">Age:</label>
											<div class="col-sm-5">
												<input type="number" value="" name="KM3AGE" class="form-control" id="mce-KM3AGE">
											</div>
										</div>
										<!-- KM # Club -->
										<div class="form-group">
											<label for="KM2CLUB" class="col-sm-3">Select Club:</label>
									    <div class="col-sm-offset-0 col-sm-5">
									      <div class="radio">
										    	<label for="mce-KM3CLUB-0"><input type="radio" value="Kodemonkey-Dojo" name="KM3CLUB" id="mce-KM3CLUB-0">Kodemonkey-Dojo</label>
												</div>
												<div class="radio">
													<label for="mce-KM3CLUB-1"><input type="radio" value="Kodemonkey-Google" name="KM3CLUB" id="mce-KM3CLUB-1">Kodemonkey-Google</label>
												</div>
											</div>
										</div>
									</fieldset>

									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_25ed2db8c5f44be422ac9503a_9825c927e8" tabindex="-1" value=""></div>

									<div class="form-group">
									 	<div class="col-sm-offset-8 col-sm-4">
											<button type="submit" class="btn btn-warning btn-lg" name="subscribe" id="mc-embedded-subscribe">Sign in</button>
										</div>
								 	</div>
								 </div>
							</form>
						</div>
						<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[5]='GUARDIAN';ftypes[5]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='PHONE';ftypes[4]='phone';fnames[3]='CITY';ftypes[3]='text';fnames[1]='KM1';ftypes[1]='text';fnames[2]='KM1CLUB';ftypes[2]='radio';fnames[6]='KM2';ftypes[6]='text';fnames[7]='KM2CLUB';ftypes[7]='radio';fnames[8]='KM3';ftypes[8]='text';fnames[9]='KM3CLUB';ftypes[9]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
						<!--End mc_embed_signup-->

						<!-- end Signup Form -->

					</div>
				</div>
			</div><!-- end of after slide part -->

      <!-- share part -->
    	<div class="container share">
				<div class="row text-center">
					<div class= "col-lg-6 col-lg-offset-3 share-text">
						<h3 class= "text-center">Stay Connected</h3>
						<hr class= "full">
            <p>We want to connect people like you.</p>
            <br/>
					</div>
				</div>
			</div>
			<div class= "container share-icons text-center">
				<div class= "row text-center">
					<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<ul class="socials-icons col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<li>
								<a href="#" data-toggle="tooltip" title="Share in Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#" data-toggle="tooltip" title="Share in Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#" data-toggle="tooltip" title="Share in Google +" class="google-plus"><i class="fa fa-google-plus"></i></a>
							</li>
							<li>
								<a href="#" data-toggle="tooltip" title="Share in Instagram" class="instagram"><i class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="#" data-toggle="tooltip" title="Share in Pinterest" class="pinterest"><i class="fa fa-pinterest"></i></a>
							</li>
							<li>
								<a href="#" data-toggle="tooltip" title="Connect with Skype" class="skype"><i class="fa fa-skype"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- end of share part -->
    </div><!-- end of body content -->
	</body>
</html>
